%-------------------------------------------------------------------------------
%	SECTION TITLE
%-------------------------------------------------------------------------------
\cvsection{Education}


%-------------------------------------------------------------------------------
%	CONTENT
%-------------------------------------------------------------------------------
\begin{cventries}

%---------------------------------------------------------
{% for entry in data -%}
\cventry
  { {{entry.sub_title}} } % Degree
  { {{entry.institution}} } % Institution
  { {{entry.location}} } % Location
  { {{entry.caption}} } % Date(s)
  {}
{% endfor %}

%---------------------------------------------------------
\end{cventries}